<!DOCTYPE html>
<html>
<head>
    <title>Spotify Downloader</title>
</head>
<body>
    <h1>Spotify Downloader</h1>
    <form method="POST">
        <label for="spotify_link">Enter Spotify Link:</label><br>
        <input type="text" id="spotify_link" name="spotify_link" required><br>
        <!-- <input type="submit" value="Download"> -->
        <button type="submit">Download</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if messages %}
    <h2>Process Messages:</h2>
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if audio_filename %}
        <a href="{{ url_for('home') }}" download>Download {{ audio_filename }}</a>
    {% endif %}

</body>
</html>
